<h1 class="text-center my-4 text-uppercase">Carrinho de Compras</h1>

<% if @cart.cart_items.any? %>
  <div class="container">
    <!-- Tabela com os itens do carrinho -->
    <div class="card shadow-sm">
      <div class="card-body">
        <table class="table table-bordered table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Produto</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Preço</th>
              <th scope="col">Ação</th>
            </tr>
          </thead>
          <tbody>
            <% @cart.cart_items.each do |item| %>
              <tr>
                <td><%= item.product.name %></td>
                <td>
                  <!-- Campo para selecionar quantidade -->
                  <%= form_with(url: update_item_cart_path(item.id), method: :put, local: true) do |f| %>
                    <%= f.number_field :quantity, value: item.quantity, min: 1, class: 'form-control quantity-spinner', id: "quantity-#{item.id}" %>
                    <%= f.submit 'Atualizar', class: 'btn btn-warning mt-2 btn-block' %>
                  <% end %>
                </td>
                <td><%= number_to_currency(item.product.price * item.quantity) %></td>
                <td>
                  <%= button_to 'Remover', remove_item_cart_path(item.id), method: :delete, class: 'btn btn-danger', data: { confirm: 'Tem certeza que deseja remover este item?' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <h4 class="text-success mb-0">Total:<%= number_to_currency(@cart.cart_items.sum { |item| item.product.price * item.quantity }) %></h4>
    </div>
        

    <!-- Botão de navegação para voltar aos produtos -->
    <div class="text-center my-4">
      <%= link_to 'Voltar aos Produtos', products_path, class: 'btn btn-outline-primary btn-lg' %>
    </div>

  </div>
<% else %>
  <p class="text-center alert alert-warning">Seu carrinho está vazio.</p>
  <div class="text-center my-4">
    <%= link_to 'Voltar aos Produtos', products_path, class: 'btn btn-outline-primary btn-lg' %>
  </div>
<% end %>
