<h1 class="text-center my-4"><%= @product.name %></h1>

<div class="container">
  <div class="row">
    <!-- Tabela com os detalhes do Produto -->
    <div class="col-md-12">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th colspan="2" class="text-center">Detalhes do Produto</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Descrição</th>
            <td><%= @product.description %></td>
          </tr>
          <tr>
            <th scope="row">Preço</th>
            <td class="text-success"><%= number_to_currency(@product.price) %></td>
          </tr>
          <tr>
            <th scope="row">Quantidade</th>
            <td>
              <%= form_with(url: add_item_cart_path(product_id: @product.id), method: :post, local: true) do |f| %>
                <%= f.number_field :quantity, value: 1, min: 1, class: 'form-control w-25' %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Botão para Adicionar ao Carrinho -->
      <div class="text-center">
        <%= form_with(url: add_item_cart_path(product_id: @product.id), method: :post, local: true) do |f| %>
          <%= f.submit 'Adicionar ao Carrinho', class: 'btn btn-primary btn-lg' %>
        <% end %>
      </div>

      <!-- Botão para Voltar -->
      <div class="text-center mt-4">
        <%= link_to 'Voltar', products_path, class: 'btn btn-secondary btn-lg' %>
      </div>
    </div>
  </div>
</div>
